<% provide(:title, "About") %>

<div class="jumbotron center">
  <h1>About</h1>
  <p>Bandagram is an application to let you share photos of your favorite band and more!</p>
  <p>Created by <%= link_to "Sebastian Walker", "http://www.sebastianwalker.info", :target => "_blank" %></p>
</div>