<% provide(:title, "Home") %>

<div class="jumbotron center">
  <h1>Bandagram</h1>
  <p>Submit photos of your favorite band and share!</p>
  
  <% if user_signed_in? %>
  
  <% else %>
    <%= link_to 'Register!', new_user_registration_path, class: 'btn btn-warning btn-lg' %></br></br>
  <% end %>
</div>