<div class="jumbotron">
  <h1>Pinterest Clone</h1>
  <p>Tutorial application by Sebastian Walker</p>
  <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>