$link-color: #FF3300;
$navbar-inverse-brand-color: #cb2FF3300027;
$navbar-height: 60px;
$navbar-border-radius: 0px;

$brand-primary: #FF3300;
$body-bg: transparent;

$pagination-active-bg: #FF3300;
$pagination-active-border: #FF3300;

$btn-warning-bg: #FF3300;


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

html { 
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
   background: rgb(255, 255, 255); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.9); 
}

.footer {
  text-align: center;
}

.footer li {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding-left: 25px;
}

.footer li a:hover {
  color: white;
  text-decoration: none;
  
}

.navbar-inverse .navbar-nav li a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #FF3300 ;
}

.navbar-brand {
	font-family: Pacifico;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	padding-left: 50px;
}

